<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Información SENA 1</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div th:replace="~{fragments :: navbar}"></div>

<div class="container">
    <h1>Información sobre el SENA</h1>
    <p>El Servicio Nacional de Aprendizaje (SENA) es un establecimiento público del orden nacional de Colombia, con personería jurídica, patrimonio propio e independiente, y autonomía administrativa. Está adscrito al Ministerio del Trabajo de Colombia y ofrece formación gratuita a millones de colombianos a través de programas técnicos, tecnológicos y complementarios.</p>
</div>

</body>
</html>