<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: main_header('Login')}"></head>

<body>

<div th:replace="~{fragments :: navbar}"></div>

<div class="container main-content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Login</h1>
            
            <div th:if="${param.logout}" class="alert alert-info">Has cerrado sesión.</div>
            <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" name="username" id="username" class="form-control" autofocus="autofocus" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <span> | <a th:href="@{/register}">Register</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments :: footer}"></div>

</body>
</html>