<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: main_header('Nuevo Empleado')}"></head>

<body>

<div th:replace="~{fragments :: navbar}"></div>

<div class="container main-content">
	<h1>Sistema de Administracion de Empleados - Nuevos Registros</h1>
	<hr>
	<h2>Datos del Empleado</h2>

	<form action="#" th:action="@{/saveEmployee}" th:object="${employee}"
		method="POST">
		<input type="text" th:field="*{firstName}"
			placeholder="Nombres del Empleado" class="form-control mb-4 col-4">
			
			<input type="text" th:field="*{lastName}"
			placeholder="Apellidos del Empleado" class="form-control mb-4 col-4">
			
			<input type="text" th:field="*{email}"
			placeholder="Email del Empleado" class="form-control mb-4 col-4">
			
			<button type="submit" class="btn btn-info col-2"> Salvar Empleado</button>
	</form>
	
	<hr>
	
	<a th:href = "@{/}">Regresar a la lista Principal</a>
</div>

<div th:replace="~{fragments :: footer}"></div>

</body>
</html>